.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(252, 250, 250, 0.893)
    ),
    url('../assets/images/bg-vending.jpg');
  background: linear-gradient(rgb(252, 250, 250), rgba(254, 252, 252, 0.612)),
    url('../assets/images/bg-vending.jpg'); /* The least supported option. */
  font-size: 2em;
  overflow: hidden;
}
