// Styling for the call to action section
section.welcome {
  color: black;
  margin-right: auto;
  margin-left: auto;

  background-position: center;
  background-blend-mode: screen;
  @include background-cover;

  .welcome-content {
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    font-weight: 100;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
    color: $gray-darker;

    .display-font {
      color: rgb(240, 77, 59);
    }

    .display-font-reeves {
      font-weight: 700;
    }

    @media (min-width: 768px) {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
